*{background-color: black;}
.productitem{
    background-color: rgb(218, 199, 202);
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    width: 16rem;
}
.prem{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%)
}



