
.productitem{
    background-color: white !important;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.productlist{
    background-color: black !important;
    margin: 10px;
    padding: 10px;
}